{
    "env": {
        "browser": true,
        "jquery": true,
        "prototypejs": true
    },
    "globals": {
        "$": true,
        "jQuery": false
    },
    "rules": {
        "block-scoped-var": "error",
        "camelcase": "off",
        "curly": "off",
        "dot-notation": "off",
        "eqeqeq": "error",
        "indent": [
            "error",
            4,
            {
                "ArrayExpression": "off",
                "MemberExpression": "off",
                "SwitchCase": 1
            }
        ],
        "linebreak-style": "error",
        "no-bitwise": "error",
        "no-cond-assign": [
            "error",
            "except-parens"
        ],
        "no-eval": "error",
        "no-loop-func": "error",
        "no-shadow": "off",
        "no-undef": "off",
        "no-unused-expressions": "error"
    }
}
