/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


/* stylelint-disable declaration-no-important */


// ==============================================
// Text Align
// ==============================================

.text-align-center  { text-align: center  !important; }
.text-align-justify { text-align: justify !important; }
.text-align-left    { text-align: left    !important; }
.text-align-right   { text-align: right   !important; }


// ==============================================
// Vertical Align
// ==============================================

.vertical-align-bottom { vertical-align: bottom !important; }
.vertical-align-middle { vertical-align: middle !important; }
.vertical-align-top    { vertical-align: top    !important; }
