/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// Box Shadow
// ==============================================

$box-shadow-base:             0 2px 8px black(0.15) !default;
$box-shadow-input-text: inset 0 1px 3px black(0.15) !default;
$box-shadow-inset:      inset 0 2px 8px black(0.15) !default;
