/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// Browser Warning
// ==============================================

// See: /js/src/browser-detection.js
.browser-warning {
    display: none;
    padding: 15px 10px;
    background: $c-warn;
    text-align: center;
}
