/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// Field Row
// ==============================================

.field-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: ($margin-bottom * -1);
    margin-bottom: $margin-bottom;
    margin-left: ($space-base * -1);
}

.field-row .field {
    margin-top: $margin-bottom;
    margin-bottom: 0;
    margin-left: $space-base;
}
