/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// Iframe Wrap
// ==============================================

.iframe-wrap {
    margin-bottom: $gap;
}

.iframe-wrap iframe {
    width: 100%;
    height: 650px;
    border: 0;
}
