/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// Input Hint
// ==============================================

.input-hint {
    margin-top: 0.5em;
    color: $c-text-subtle;
    font-size: $font-size-s;
    line-height: $line-height-xs;
}
