/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// Input File
// ==============================================

.input-file {
    padding: 10px;
    border: 1px solid $c-subtle-border;
    border-radius: $radius-base;
    background: $c-subtle-background;
}
