/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// Label
// ==============================================

label {
    display: inline-block;
    font-weight: bold;
    line-height: $line-height-xs;
}
