/**
* Gravity Department - Frontend Starter
* https://github.com/gravitydepartment/frontend-starter
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// Validation Advice
// ==============================================

.validation-advice {
    margin: 0.5em 0 0;
    color: $c-danger;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
}
